p-radioButton {
  margin-right: 10px;
}

label {
  display: block;
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.little-warning {
  font-style: italic;
  font-size: 0.9em;
}

.ui-button-info {
  margin-right: 10px;
}
