<p-table [value]="items" [paginator]="true" [rows]="5" [scrollable]="true">
  <ng-template pTemplate="header">
    <tr>
      <th class="col-name">Nome</th>
      <th class="col-unit">Unid. Medida</th>
      <th class="col-qtd">Quantidade</th>
      <th class="col-price">Preço</th>
      <th class="col-perishable">Perecível</th>
      <th class="col-dt">Dt. Fabricação</th>
      <th class="col-dt">Dt. Validade</th>
      <th class="col-btns"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="col-content-name" [title]="item.name">{{item.name | titlecase |resumir:15}}</td>
      <td class="col-content-unit">{{item.unit?.value | lowercase}}</td>
      <td class="col-content-qtd">{{item.quantity}}</td>
      <td class="col-content-price">{{item.price | currency:'BRL':'symbol':'1.2-2'}}</td>
      <td class="col-content-perishable">{{item.perishable ? 'Sim' : 'Não'}}</td>
      <td class="col-content-dt">{{item.fabricationDate | date: 'dd/MM/yyyy'}}</td>
      <td class="col-content-dt">{{item.dueDate | date: 'dd/MM/yyyy'}}</td>
      <td class="col-content-btns">
        <p-button styleClass="ui-button-info" icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/items/item', item.id]"
                  tooltipPosition="bottom"></p-button>
        <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" styleClass="ui-button-danger"
                  (onClick)="handleDelete(item)"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    Nenhum registro encontrado.
  </ng-template>
</p-table>
